<!--div class="formularioRegistro">
  <h2>Generar Pedido</h2>
  <form [formGroup]="pedidoForm" (ngSubmit)="guardar()">
    <div class="form-group">
      <label>Numero de piezas</label>
      <input type="text" formControlName="" class="form-control">
    </div>
    <div>
      <label>Producto</label>
      <select name = "numberoPedido" id = "numberoPedido" formControlName = "numberoPedido" class="form-control">
        <option [ngValue] = "item" *ngFor = "let item for productos">

                {{item.nombre}}
                <td>{{item.descripcion}}</td>
                <td class = "imag"><img [src] = "item.imagen"/></td>
                <td>{{item.precio}}</td>
                <td>{{item.stock}}</td>
                <td>{{item.status}}</td>
        </option>
      </select>
    </div>


    <button type="submit" class="btn btn-primary" [disabled] ="pedidoForm.invalid"(click) = "guardar()">Guardar</button>
  </form>
</div-->

<!--div class="formularioRegistro">
  <h2>Generar Usuario</h2>
  <form [formGroup]="pedidoForm" (ngSubmit)="guardar()">
    <div class="form-group">
      <label>Nombre</label>
      <input type="text" formControlName="nombre" class="form-control">
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" formControlName="password" class="form-control">
    </div>
    <div class="form-group">
      <label>Rol</label>
      <input type="text" formControlName="rol" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary" [disabled] ="pedidoForm.invalid">Guardar</button>
  </form>
</div-->

<div class="formularioRegistro">
  <h2>Levantar pedido</h2>
  <table class="table table-dark text-center" >
    <thead>
      <tr>
        <th></th>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Status</th>
        <th>Cantidad</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of productos">
        <td class = "imag"><img [src] = "item.imagen"/></td>
        <td>{{item.nombre}}</td>
        <td>{{item.descripcion}}</td>
        <td>{{item.precio}}</td>
        <td>{{item.stock}}</td>
        <td>{{item.status}}</td>
        <td>
          <select name = "cantidad" id ="cantidad" formControlName = "Cantidad" class = "form-control">
            <option [ngValue] = "item" *ngFor= "let item of productos">{{1-9}}</option>

          </select>
        </td>
        <td>
          <button type="button" class="btn btn-success" (click) = "comprar(item)">Comprar</button>
          <button type="button" class="btn btn-danger" (click)="eliminar(item)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>>

<!--div class="formularioRegistro">
  <h2>Usuarios registrados</h2>
  <table class="table table-striped" >
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Rol</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of usuarios">
        <td>{{item.id}}</td>
        <td>{{item.nombre}}</td>
        <td>{{item.rol}}</td>
        <td>
          <button type="button" class="btn btn-success">Editar</button>
          <button type="button" class="btn btn-danger" (click)="eliminar(item)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div-->

<router-outlet></router-outlet>